/**
 * The following styles get applied inside the editor only.
 */

.wp-block-gutenberg-blocks-custom-image-row {
    &.wp-block {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;

        .row {
            display: flex;
            flex-direction: row;

            .col {
                width: 100%;
                border: 1px solid #ddd;
                display: flex;
                justify-content: center;

                .image-button {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: auto;
                }

                .btn {
                    margin: 20px 10px;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}