/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-gutenberg-blocks-custom-2col-img-content-row {

    &:not(.wp-block) {
        margin-bottom: 2em;
        margin-top: 2em;

        .content-col {
            color: white;

            h1, h2, h3, h4, h5, h6 {
                color: white;
            }

            a {
                color: white;

                &:hover {
                    font-weight: bold;
                }
            }

            .wp-block-button {
                text-align: center;
                margin-top: 10px;
                padding: 20px;

                .wp-element-button {
                    background-color: transparent;
                    border-radius: 0;
                    border: 1px solid white;
                    padding: .6rem 1.2rem;
                    color: white;
                    font-size: 1.25rem;
                    text-decoration: none;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }

        .image-col {
            figure {
                img {
                    padding: 0;
                }

                figcaption {
                    padding: 0;
                    color: white;
                    margin: 5px 0 0;
                    text-align: center;
                }
            }
        }
    }

    .full-width {
        clear: both;
        margin-left: calc(-100vw / 2 + 1000px / 2);
        margin-right: calc(-100vw / 2 + 1000px / 2);
        @media (max-width: 990px) {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .row {
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 0;

        &.image-col-left .image-col {
            order: 0;
            text-align: right;

            @media (max-width: 768px) {
                text-align: center;
            }
        }

        &.image-col-right .image-col {
            order: 1;
            text-align: left;

            @media (max-width: 768px) {
                text-align: center;
            }
        }



    }

}